<%= form_for :booking, url: new_booking_path, method: 'get' do |f| %>
    <% @found_flights.each do |ff| %>
    <h3>Leaving from:    <%= ff.from_airport.code %></h3>
    <h3>Arriving at:     <%= ff.to_airport.code %></h3>
    <h3>Departing:       <%= ff.departure_time.strftime('%m/%d/%y') %> at
                         <%= ff.departure_time.strftime('%I:%M %p') %></h3>
    <h3>Arriving: <%= (ff.duration + ff.departure_time).strftime('%m/%d/%y') %> at 
                  <%= (ff.duration + ff.departure_time).strftime('%I:%M %p') %></h3><br /><br />
    <%= f.label :flight, 'Select Flight' %>
    <%= f.radio_button :flight, ff.id %>
    <hr>
  <% end %>
  <%= f.hidden_field :passengers, value: params[:flight][:passengers] %>
  <%= f.submit 'Go to Booking'%>
<% end %>
  