<h2>Who ya roamin' with?</h2>
<%= form_for @booking do |f| %>
  <%= f.hidden_field :flight_id, value: @flight.id %>
  <% @pas_count = 1 %>
  <%= f.fields_for :passengers do |p| %>
    <h5>Passenger <%= @pas_count %></h5>
    <% @pas_count += 1 %>
    <%= p.label :name, 'Name:' %>
    <%= p.text_field :name %><br />
    <%= p.label :email, 'Email:' %>
    <%= p.email_field :email %><br /><br />
  <% end %>
  <%= f.submit 'Save Passengers' %>
<% end %>